html, body {
  margin:0;
  height: 100%;
  width: 100%;
}

.navbar {
  color: white;
  background-color: #0b3557;
}

.navbar-brand {
  color: white;
}

.nav > li > a {
  color: white;
}

.nav > li > a {
  margin: 10px 10px 0;
  padding: 5px;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  color: #0B486B;
  border-radius: 15px;
  background-color: white;
}

.nav > li > a:hover > .glyphicon:hover {
  color: #0B486B;
}

body {
  background: url(/images/cream_dust.png) repeat 0 0;
  padding-top: 60px;
}

.jumbotron {
  color: white;
  background-color: #3B8686;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -45px;
}

.wrapper:after {
  content: "";
  display: block;
  height: 45px;
}

footer {
  padding: 0 5px;
  height: 45px;
}

.CodeMirror {
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.CodeMirror-scroll {
  min-height: 200px;
}



//Navigation bar

.notification {
  color: black;
  width: 386px;
  min-height: 30px;
  padding: 2px 10px;
  margin-bottom: 2px;
}

.notification:hover {
  background-color: #f5f5f5;
}
.newnotification {
  background-color: lightgrey;
}

.newnotification:hover {
  background-color: #f5f5f5;
}

.message {
  width: 430px;
  height: 60px;
  font-size: 12px;
  padding: 4px 0px;
  display: block;
}

.message .mya {
  padding: 0 15px;
}

.message .mya:hover {
  background: rgb(245, 245, 245);
  cursor: pointer;
}

.message .messageLeft {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 5px 0 0;
}

.message .messageRight {
  width: 335px;
  float: right;
  direction: ltr;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.message img {
  width: 52px;
  height: 52px;
  float: left;
  margin: 0 5px 0 0;
}

.message .messAuth {
  height: 18px;
  color: black;
  font-weight: bold;
}


.message .messAuth:hover {
  text-decoration: none;
}

.message .messMess {
  color: black;
}


.message .messDate {
  color: black;
}


.message .messSeen {
  font-size: 0.7pc;
  float: left;
  margin: 0 4px 0 0;
}








//Messages page

.container-fluid {
  height: 100%;
}
.mmessage {
  height: 600px;
  overflow: auto;
  border-radius: 10px;
  background: rgb(238, 238, 238);
  margin-bottom: 15px;
  display: block;
}

.mmessageSearch { }

.mmessageLeft {
  border: solid 1px rgb(222, 223, 226);
  float: left;
  height: 100%;
  overflow-y: auto;
  width: 20%;
}

.conversationElem {
  width: 100%;
  height: 64px;
  padding: 7px 5px;
  border-bottom-color: rgb(222, 223, 226);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(222, 223, 226);
  border-left-style: solid;
  border-left-width: 0px;
  border-right-color: rgb(222, 223, 226);
  border-right-style: solid;
  border-right-width: 0px;
  color: rgb(20, 24, 35);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conversationElem img, .mmessageElem img {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 5px 0 0;
}

.conversationElem:hover {
  background: rgb(222, 223, 226);
  cursor: pointer;
}

.conversationElem a:hover {
  color: #337ab7;
  text-decoration: none;
}

.mmessageRight {
  width: 80%;
  height: 100%;
  float: right;
}

.mmessageBox {
  border-left: solid 1px rgb(222, 223, 226);
  border-top: solid 1px rgb(222, 223, 226);
  border-right: solid 1px rgb(222, 223, 226);
  height: 71%;
  overflow-y: auto;
}

.mmessageElem {
  width: 100%;
  min-height: 60px;
  height: auto;
  padding: 5px;
}

.mmessageRightLeft {
  width: 50px;
  height: 50px;
  float: left;
  margin: 0 5px 0 0;
}

.mmessageRightRight {
  width: calc(100% - 55px);
  float: right;
  direction: ltr;
}

.mmessageAuthor {
  float: left;
  font-weight: bold;
}

.mmessageDate {
  float: right;
}

.mmessageMessage {
  word-wrap: break-word;
}

#myForm {
  border: solid 1px rgb(222, 223, 226);
  padding: 10px 20px;
  height: 29%;
}

.mmessageText {
  display: block;
  height: 78%;
  width: 100%;
  margin-bottom: 3px;
}

.mmessageButton {
  height: 20%;
  width: 100%;
}







//Users in lists styling
.users {
  overflow-y: auto;
  position: absolute;
  width: 95%;
  height: calc(100% - 65px);
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.user {
  width: 100%;
  min-height: 60px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px #9d9c9b;
}

.userimage {
  width:50px;
  height:50px;
  float:left;
  margin-right: 5px;
}

.userimage img {
  width:50px;
  height:50px;
}

.userimage img:hover {
  cursor: pointer;
}

.userdata {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  float: right;
  direction: ltr;
  width: calc(100% - 55px);
}

.userdata * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userdata a {
  font-weight: bold;
}

.aboutuser {
  height: 20px;
}

.aboutuser * {
  margin: 0;
  padding: 0;
}