
/* CUSTOM STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);

.container {
    width: 90%;
    background: #ededed;
}

body {
    font-family: 'Alegreya Sans SC', sans-serif;
}

li {
    margin: 0;
}

a {
    font-size: 18px;
    text-decoration: none;
}

span {
    display: block;
    font-size: .75em;
    font-style: italic;
    position: relative;
    top: 5px;
}

.multi {
    display: inline;
    top: 0;
    left: 3px;
}

h4 {
    width: 15%;
    margin: 10px 5px 5px 5px;
    padding: 15px;
    color: white;
    background: #222222;
    border-radius: 50px;
    float: left;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

h5 {
    width: 50%;
    margin: 10px auto;
    padding: 15px;
    color: white;
    background: #222222;
    border-radius: 15px;
    font-weight: 700;
    font-size: 21px;
    text-align: center;
}

.options {
    width: 80%;
    margin: 10px 5px 5px 5px;
    padding: 10px;
    float: right;
    font-size: 0;
    border-radius: 50px;
    background: whitesmoke;
}

.options button {
    width: 16.4%;
    margin: 0px 15px;
    padding: 5px 0;
    border: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
    background: #EBEBEB;
}

.options button:hover {
    color: white;
    background: #5e5e5e;
}

.options button.active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), 0px 0px 1px transparent;
    background: #5e5e5e;
    color: white;
}

.series {
    padding: 15px 15px 0 15px;
    margin-bottom: 15px;
    background: whitesmoke;
}

.series table {
    width: 100%;
}

.series table tr {
    height: 45px;
    margin: 0 0 15px 0;
    padding: 15px;
    display: block;
    color: black;
    font-size: 14px;
    background: #EBEBEB;
}

.series table tr:hover {
    cursor: pointer;
    background: #99cfe0;
}

.series table .mix {
    display: none;
}

.series table tr td {
    width: 35%;
}

.series table tr th {
    width: 35%;
}

/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (min-width: 1250px) {
}